@charset "UTF-8";
/* Couleur de fond de la barre de défilement pour WebKit */
::-webkit-scrollbar {
  background-color: #4EE1A0;
}

/* Couleur de la poignée de la barre de défilement pour WebKit */
::-webkit-scrollbar-thumb {
  background-color: #4EE1A0;
  border-radius: 10px;
}

/* Largeur de la poignée de la barre de défilement pour WebKit */
::-webkit-scrollbar-thumb {
  width: 10px;
}

/* Style de bordure de la poignée de la barre de défilement pour WebKit */
::-webkit-scrollbar-thumb {
  border: 3px solid #4EE1A0;
}

/* Couleur de fond et de la poignée de la barre de défilement pour Firefox */
* {
  scrollbar-color: #4EE1A0 #F5F5F5;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #151515;
}

a {
  font-family: sans-serif;
  color: white;
}

/* HEADER */
.header-top {
  text-align: center;
}

.img-profil {
  height: 32rem;
}

.about {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
}

.name {
  text-decoration: none;
  color: white;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.icon-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
}

h1 {
  color: white;
  text-align: center;
  max-width: 24rem;
}

.underline {
  border-bottom: 2px solid #4EE1A0;
}

.text-about {
  text-align: center;
  color: white;
  margin-top: 3vh;
  font-family: "Space Grotesk", sans-serif;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}

.button {
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  padding: 0.6rem;
  background-color: transparent;
  border-bottom: 2px solid #4EE1A0;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 4rem;
}

.button:hover {
  color: #4EE1A0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 251, 251, 0.75), rgba(0, 0, 0, 0));
}

.skills {
  text-align: center;
  color: white;
}

.skill {
  padding: 1.3rem;
}

.experience {
  font-weight: bold;
  color: rgb(217, 217, 217);
  font-family: "Space Grotesk", sans-serif;
}

.projects {
  display: flex;
  justify-content: space-between;
  margin: 2rem 4vw 0 4vw;
}

.title-project {
  color: white;
  font-size: 2rem;
}

.portfolio {
  display: flex;
  flex-direction: column;
}

.img-projects {
  margin: auto;
  width: 90%;
}

.img-projects:hover {
  border: 1px solid #4EE1A0;
}

.title-portfolio {
  margin-top: 1rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  margin-left: 4.2vw;
  font-family: "Space Grotesk", sans-serif;
}

.techno {
  display: flex;
  flex-direction: row;
  color: #b9b6b6;
  gap: 1rem;
  font-weight: bold;
  margin-left: 4.2vw;
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
}

.langue {
  background-color: #242323;
  padding: 0.3rem;
  border-radius: 10%;
}

.btn-project {
  margin-left: 4.2vw;
  margin-top: 1rem;
}

footer {
  background-color: #242424;
}

.main-footer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.title-footer {
  text-align: center;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.text-footer {
  text-align: center;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2vh;
  margin-top: 1rem;
}

#main-form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.input {
  background-color: transparent;
  border: none;
  color: gray;
  padding: 1rem;
  font-size: 1.2rem;
}

.input:focus {
  outline: none;
}

.form,
button {
  margin: 1rem;
}

.footer {
  padding: 2rem;
}

@media screen and (min-width: 1024px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .icon-social {
    position: relative;
    right: 10%;
  }
  .name {
    position: relative;
    left: 50%;
  }
  .img-profil {
    height: 100%;
    position: relative;
    left: 30%;
    margin-bottom: 5rem;
  }
  .text-about {
    max-width: 50%;
    font-size: 1.3rem;
  }
  .container-header {
    position: absolute;
    top: 25%;
    left: 7%;
  }
  h1 {
    font-size: 3rem;
    max-width: 50%;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 5rem;
    gap: 5vw;
  }
  .skill {
    width: 20vw;
  }
  .all-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img-projects {
    height: 15rem;
  }
  .btn-project {
    margin-left: 0%;
  }
  .header-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-footer {
    max-width: 50vw;
    margin: 2rem;
  }
  .form {
    width: 60%;
    margin: 2rem;
  }
  .footer {
    padding-top: 0;
  }
}/*# sourceMappingURL=index.css.map */